/* colors and font styles

*** Hero text is the statement that appears at the top of a web page

- dark background color ( hero and footer)
#1F2937

- Hero Main text (*this website is awesome")
48PX extra-bold #f9FaF8

- Hero Secondary text, Header Link Text
18px # E5E7EB

- Header Logo Text
24px #F9FAF8

.....................

- Button color, call to action background color
#3882F6

- information header text
36px extra-bold #1F2937

- Quote section background color
#E5E7EB

- Quote text
36px light italic #1F2937

 */

 /* put border to 1px to get a better temporary view of containers */
 
 * {
    border: 0px solid red;
 }

.logo {
    font-size: 24px;
    color: #F9FAF8
}

header, .one, footer {
    background-color: #1F2937;
    color: white;  
    padding: 15px 250px;  
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

header > ul {
    display: flex;
    margin: 0px;
    gap: 25px;
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.one {
    display: flex;
    gap: 75px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9FaF8;
    
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}


img {
    max-width: 100%;
    width: 750px;
}

footer {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}
