/* colors and font styles

*** Hero text is the statement that appears at the top of a web page

- dark background color ( hero and footer)
#1F2937

- Hero Main text (*this website is awesome")
48PX extra-bold #f9FaF8

- Hero Secondary text, Header Link Text
18px # E5E7EB

- Header Logo Text
24px #F9FAF8

.....................

- Button color, call to action background color
#3882F6

- information header text
36px extra-bold #1F2937

- Quote section background color
#E5E7EB

- Quote text
36px light italic #1F2937

 */

 /* put border to 1px to get a better temporary view of containers */
 
 * {
    border: 0px solid red;
 }

 html {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

header, .one, footer {
    background-color: #1F2937;
    color: white;    
}

header, .one, .two, .three, footer {
    padding: 15px 250px;  
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

header > ul {
    display: flex;
    margin: 0px;
    gap: 25px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.one {
    display: flex;
    gap: 50px;
    padding-bottom: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FaF8;
    
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button, .call-to-action {
    background-color: #3882F6
}

button {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    max-width: 120px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    width: 1200px;
    box-shadow: 0 0 5px 5px #555;
}


.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    margin-top: 45px;
    text-align: center;
    font-size: 36px; 
    font-weight: bold; 
    color: #1F2937;
    padding-bottom: 40px;
}

.blocks > ul {
    display: flex;
    gap: 50px;
}

li > img {
    max-width: 100%;
    width: 200px;
    border: 0px solid rgb(71, 45, 165);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #555;
}

.blocks > ul > li { 
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    font-size: 14px;
    color: #38393b;
    text-align: left;
    line-height: 1;
    
}

span {
    display: inline;
    margin-left: 5px;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 16px;
}

.three {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #E5E7EB;
}

footer {
    text-align: center;
}

.quote {
    font-size: 36px; 
    font-style:  italic;
    color: #1F2937;
    font-family: cursive;

}

.author {
    text-align: right;
    font-size: 26px; 
    font-style:  normal;
    color: #131922;
    float: right;    
    margin-right: 75px;
}

.call-to-action {
    margin: 100px 250px;
    padding: 45px 100px;
    border-radius: 10px; 
    text-align: left;
    color: whitesmoke;
}

.bold {
    font-size: 24px;
    font-weight: bold;
}

.call-to-action > button {
    float: right;
    border: 3px solid whitesmoke;
    padding: 7px 27px;
    margin: -20px 60px;
}

footer {
    padding: 38px;
}


ul {
    list-style-type: none;
}